* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Roboto;
}

.player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.control-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-right: 2px;
}

.control-btn:last-of-type {
    margin-right: 1px;
}

.player-controls {
    background-color: black;
    display: flex;
    align-items: center;
    height: 43px;
}

button:hover {
    cursor: pointer;
}

.screen {
    flex-grow: 1;
}

.progress-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 2px;
    height: 100%;
}

.progress-bar {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-inline: 10px;
}

.timer {
    color: white;
    margin-top: 1px;
    margin-right: -1px;
}

.slider {
    color: white;
    height: 5px;
    background-color: red;
    border-radius: 5px;
    transition: left 0.3s ease;
}

.progress-bar:hover {
    cursor: pointer;
}

.progress-bar:hover .thumb {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in, ease-out;
}


.thumb {
    height: 13px;
    width: 13px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -5px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in, ease-out;
}